<%- include("header") -%>

  <h2>This is an about page.</h2>
  <p>
    This page was created by Md Farhan Sajid in November 2022.
    This is a to do list for anyone to add any work/list item to their daily schedule.
  </p>

<%- include("footer") -%>
